@model IEnumerable<OrchardsOnTheBrazos.Models.Info>

@{
    ViewBag.Title = "Community Resources";
}

<section class="events-home">
    @if (User.IsInRole("Administrator") || User.IsInRole("Board Member"))
    {
        <button type="button" class="btn btn-warning adminActions create" data-toggle="modal" data-target="#infoCreate">Create</button>
    }
    <div class="row">
        <div class="col-md-12">
            <h2 style="width: 327px;" class="text-center">Community Resources</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 center-block">
            <ul class="list-group list-group-flush">
                @foreach (var item in Model)
                {
                <li class="list-group-item">
                    <i class="fa fa-info-circle
"></i>
                    <a href="@item.Link" target="_blank">
                        @Html.DisplayFor(modelItem => item.Site)
                    </a>
                    <br />
                    @if (User.IsInRole("Administrator") || User.IsInRole("Board Member"))
    {
                <button data-toggle="modal" data-target="#modalCreate" type="button" class="btn btn-primary btn-sm adminActions" onclick="RenderActions('/Info/Edit/@item.Id')">Edit</button>
                <span class="adminActions">|</span>
                <button data-toggle="modal" data-target="#modalCreate" type="button" class="btn btn-default btn-sm adminActions" onclick="RenderActions('/Info/Details/@item.Id')">Details</button>
                <span class="adminActions">|</span>
                <button data-toggle="modal" data-target="#modalCreate" type="button" class="btn btn-danger btn-sm adminActions" onclick="RenderActions('/Info/Delete/@item.Id')">Delete</button>
}
                </li>
                }
            </ul>
        </div>
    </div>
</section>

@Html.Partial("_CreateModal")
@Html.Action("_Create");

@section Scripts {

    @if (TempData["Errormsg"] != null)
    {
        <script>
            $(document).ready(function () {
                console.log("success");
                $('#errorModal').modal(function () {
                    this.show();
                });
            });
        </script>
    }
}



