@import 'Typography.scss';


.events-home {
    position: relative;

    h2 {
        width: 278px;
        margin: 11px auto;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    .info-box {
        position: relative;

        p {
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            padding: 2px 15px;
            color: #fff;
            font-size: 1.2em;
            font-family: $robot-slab;
            background-color: rgba(0, 0, 0, 0.7);
            padding-bottom: 0;

            a, span {
                text-shadow: none;
                font-weight: normal;
            }
        }
    }

    .panel {
        .panel-heading {
            background-color: #d1a017;
            border-color: #111;

            .fa {
                color: #000 !important;
                float: left;
            }

            .panel-title {
                color: #000;
            }
        }

        .panel-body {
            border: solid 1px #d1a017;
            img {
                max-width: 100%;
                max-height: 300px;
            }
        }
    }

    .slick-slider {
        float: left;
        width: 100%;

        .slick-dots {
            bottom: 0;
        }
    }
}
