@import 'Typography.scss';

a {
    cursor: pointer;
}

h2 {
    margin-top: .5rem;
    width: 238px;
    border-bottom: solid 1px #000;
    margin: 8px auto;
}

input, textarea {
    max-width: none !important;
}

.center-block {
    margin: 0 auto;
    display: block;
    float: none;
}

.m-top-50 {
    margin-top: 50px;
}

.m-top-25 {
    margin-top: 25px;
}

.m-bottom-25 {
    margin-bottom: 25px;
}

.p-top-25 {
    padding-top: 25px;
}

.no-gutters {
    padding-right: 0;
    padding-left: 0;
}

.slick-next {
    z-index: 100;
    height: 40px !important;
    width: 40px !important;
    right: -40px !important;
    top: 45% !important;


    @media (max-width: 480px) {
        display: none !important;
    }

    &:before {
        content: '' !important;
        position: absolute;
        top: 12px;
        border-left: solid 3px #000;
        width: 10px;
        height: 35px;
        transform: rotate(-135deg);
    }

    &:after {
        content: '' !important;
        position: absolute;
        top: -5px;
        border-right: solid 3px #000;
        width: 10px;
        height: 35px;
        transform: rotate(-53deg);
    }
}

.slick-prev {
    z-index: 100;
    height: 40px !important;
    width: 40px !important;
    left: -60px !important;
    top: 45% !important;

    @media (max-width: 480px) {
        display: none !important;
    }

    &:before {
        content: '' !important;
        position: absolute;
        top: 17px;
        border-left: solid 3px #000;
        width: 10px;
        height: 35px;
        transform: rotate(134deg);
    }

    &:after {
        content: '' !important;
        position: absolute;
        top: -11px;
        border-right: solid 3px #000;
        width: 10px;
        height: 35px;
        transform: rotate(53deg);
    }
}

.slick-dots li button {
    width: 25px !important;
    height: 25px !important;
    border: solid 3px $orange !important;
    background-color: rgba(0,0,0,.2) !important;
    border-radius: 50%;

    &:before {
        content: '' !important;
    }

    &:focus {
        background-color: rgba(0,0,0,.7) !important;
    }
}

.create {
    position: absolute;
    top: 2px;
    font-weight: 500;
    z-index: 100;
    cursor: pointer;

    @media (max-width: 480px) {
        top: -35px;
    }
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.text-area {
    width: 100%;
    border: solid 1px #d4d4d4;
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    border-radius: 5px;
    padding: .875rem .5rem;
    height: 22vh !important;
}

.modal-header {
    padding: 1.1rem;
}

.modal-body {
    padding-top: 5px;
    h3 {
        margin: 0 0 5px 0;
    }
}
