.container-fluid {
    padding: 5px;
}

.center-block {
    margin: 0 auto;
    display: block;
    float: none;
}

.m-top-50 {
    margin-top: 50px;
}
.m-top-25 {
    margin-top: 25px;
}

.m-bottom-25 {
    margin-bottom: 25px;
}

.p-top-25 {
    padding-top: 25px;
}
