.navbar-collapse {
    padding: 2px 2px;   

    @media (max-width: 767px) {
        margin: 0;
        padding: 15px 25px;
    }

    ul {
        padding-left: 5px;
        list-style-type: none;
        float: left;

        li {
            float: none;
            word-break: break-all;
            padding: 18px 15px;

            a {
                color: #d1a017;
                word-wrap: break-word;
            }
        }
    }

    &.no-padding {
        padding: 0;
    }
}

.admin {
    position: fixed;
    color: #000;
    font-weight: 500;
    font-style: italic;
    background-color: #d1a017;
    padding: 5px;
    right: 0;
    top: 267px;
    border-radius: 5px;
    z-index: 150;


    button {
        display: block;
        float: left;
        background-color: #fff;
        color: red;
        width: 100%;
    }
}
