.navbar-inverse {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 2px 2px;

    @media (max-width: 767px) {
        margin: 0;
        padding: 15px 25px;
    }

    ul {
        padding-left: 5px;
        list-style-type: none;
        float: left;

        li {
            float: none;
            word-break: break-all;
            padding: 18px 15px;

            a {
                color: #d1a017;
                word-wrap: break-word;
            }
        }
    }

    &.no-padding {
        padding: 0;
    }
}

.admin {
    position: absolute;
    top: 254px;
    right: 0;
    z-index: 150;
}
