.support {
    .panel {
        .panel-heading {
            background-color: #222;

            .fa {
                color: #000 !important;
                float: left;
            }

            .panel-title {
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}

.supports {
    h2 {
        width: 292px;
    }
}
