@model OrchardsOnTheBrazos.Models.Directory

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm("Create", "Directories", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">
                    Files:
                </label>
                <div class="col-md-10">
                    <label class="file-upload">
                        <input type="file" name="file" multiple="multiple" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" /> | @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
</body>
</html>
