@model IEnumerable<OrchardsOnTheBrazos.Models.DirectoryDetail>

@{
    ViewBag.Title = "DirectoryDetails";
}

<section class="row info directory">
    @if (User.IsInRole("Administrator") || User.IsInRole("Board Member"))
    {
        <button type="button" class="create btn btn-warning adminActions" data-toggle="modal" data-target="#create">
            Create
        </button>
    }
        <div class="col-md-12 center-block">
            <p>@ViewBag.Message</p>
            <h2 class="text-center">Directory</h2>
        </div>
</section>

<div class="row">
    <div class="col-md-10 center-block">
        @foreach (var item in Model)
        {
            <iframe style="width: 100%; height: 650px;" src="~/Content/Files/@item.Id@item.Extension"></iframe>

            if (User.IsInRole("Administrator") || User.IsInRole("Board Member"))
            {
                <button data-toggle="modal" data-target="#modalCreate" type="button" class="btn btn-danger btn-sm adminActions" onclick="RenderActions('/Directory/Delete/@item.DirectoryId')">Delete</button>
            }
        }
    </div>
</div>


@Html.Partial("_CreateModal")
@Html.Action("_Create");

@section Scripts {

    @if (TempData["Errormsg"] != null)
    {
        <script>
            $(document).ready(function () {
                console.log("success");
                $('#errorModal').modal(function () {
                    this.show();
                });
            });
        </script>
    }
}
