h1 {
  font-family: "Black Han Sans", sans-serif;
  color: #d1a017; }

h2, h3 {
  font-family: "Roboto Slab", serif;
  color: #d1a017; }

p {
  font-family: "Titillium Web", sans-serif; }

.login-page {
  position: relative; }
  .login-page img {
    object-fit: cover;
    max-height: 250px;
    min-height: 215px;
    width: 100%;
    height: 100%;
    object-position: 0 -47vw;
    border-radius: 15px; }
    @media (max-width: 1024) {
      .login-page img {
        object-position: 0 -35vw; } }
  .login-page h1 {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2.9em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7); }

.content-main {
  position: relative;
  width: 80%;
  margin: 40px auto; }
  .content-main .content-box {
    height: auto;
    overflow: hidden;
    padding: 40px;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05); }
    .content-main .content-box:before, .content-main .content-box:after {
      content: "";
      height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      -webkit-clip-path: polygon(0% 0%, 5% 100%, 10% 0%, 15% 100%, 20% 0%, 25% 100%, 30% 0%, 35% 100%, 40% 0%, 45% 100%, 50% 0%, 55% 100%, 60% 0%, 65% 100%, 70% 0%, 75% 100%, 80% 0%, 85% 100%, 90% 0%, 95% 100%, 100% 0%); }
    .content-main .content-box:before {
      background-color: #eee;
      top: 0; }
    .content-main .content-box:after {
      background-color: #fff;
      bottom: -2px; }
  .content-main h2 {
    font-size: 3.2em; }
  .content-main hr {
    width: 50%; }

footer {
  background-color: #d1a017;
  color: #000;
  height: 50px;
  border-top: 2px solid #000;
  padding: 15px 0; }

.navbar-collapse {
  padding: 2px 2px; }
  @media (max-width: 767px) {
    .navbar-collapse {
      margin: 0;
      padding: 15px 25px; } }
  .navbar-collapse ul {
    padding-left: 5px;
    list-style-type: none;
    float: left; }
    .navbar-collapse ul li {
      float: none;
      word-break: break-all;
      padding: 18px 15px; }
      .navbar-collapse ul li a {
        color: #d1a017;
        word-wrap: break-word; }
  .navbar-collapse.no-padding {
    padding: 0; }

h1 {
  font-family: "Black Han Sans", sans-serif;
  color: #d1a017; }

h2, h3 {
  font-family: "Roboto Slab", serif;
  color: #d1a017; }

p {
  font-family: "Titillium Web", sans-serif; }

.center-block {
  margin: 0 auto;
  display: block;
  float: none; }

.m-top-50 {
  margin-top: 50px; }

.m-top-25 {
  margin-top: 25px; }

.m-bottom-25 {
  margin-bottom: 25px; }

.p-top-25 {
  padding-top: 25px; }

body {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #eee; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

