<div id="modalCreate" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div id="OpenDialog" class="modal-content">
            
        </div>
    </div>
</div>