<div class="modal fade bd-example-modal-sm" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-danger">Error!</h4>
            </div>
            <div class="modal-body">
                <span class="glyphicon-glyphicon-warning-sign
 text-danger">@Html.Raw(TempData["Errormsg"])</span>
            </div>
        </div>
    </div>
</div>
